@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'TuskerGrotesk';
    src: url('./fonts/TuskerGrotesk-6700Bold.ttf') format('truetype');
    font-weight: 700;
    font-style: normal;
  }

  @font-face {
    font-family: 'ClashDisplay';
    src: url('./fonts/ClashDisplay-Variable.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }